/*  your css code here. If applicable */
*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
body{
	background-color: #f8f8f8;;
}
h1{
		text-align: center;
}
.heading{
	background-color: #f8f8f8;
	padding: 10px;
}
.img-container{
	text-align: center;
}
.book-library{
	margin:20px  50px;
	background-color: #ffffff;
	display: flex;
	flex-direction: column;
	row-gap: 20px;
	box-shadow: 0 6px 8px 5px rgba(0,0,0,0.1);
}
.book{
	background-color: rgb(46, 204, 113);
	padding: 20px;
}
p{
	color: #777777;
}
.price-button{
	color: white;
	border: none;
	border-radius: 5px;
	background-color: #2ecc71;
	padding: 10px;
	width: 100%;
	text-align: center;
}